# ===============================
# 🌐 App Config
# ===============================
APP_PORT=6200
APP_BASE_URL=http://localhost:6200
APP_FRONTEND_URL=http://localhost:3000

# ===============================
# 🗄️ Database Config
# ===============================
# APP_DATABASE_URL=postgresql://postgres:root@localhost:5433/learning
APP_DB_HOST=localhost
APP_DB_PORT=5433
APP_DB_USERNAME=postgres
APP_DB_PASSWORD=root
APP_DB_NAME=learning

# ===============================
# 🔐 JWT Config
# ===============================
APP_JWT_SECRET=super-secret-key
APP_JWT_EMAIL_SECRET=email-secret-key
APP_JWT_EXPIRES_IN=1d

# ===============================
# 📧 Mail Config
# ===============================
APP_MAIL_SERVICE=gmail
APP_MAIL_USER=
APP_MAIL_PASS=
APP_MAIL_FROM=No Reply <no-reply@gmail.com>
